<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lattitude Analysis - Comparison</title>

    <!-- css references -->
    <link href="css/bootstrap.min.css" rel="stylesheet">  
    <link href="css/bootstrap-grid.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
    

    </style>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-head-foot fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Lattitude Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item active navbar-right dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plots</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="lat_v_temp.html">Lattitude v. Temperature</a>
                  <a class="dropdown-item" href="lat_v_hum.html">Lattitude v. Humidity</a>
                  <a class="dropdown-item" href="lat_v_cloud.html">Lattitude v. Cloudiness</a>
                  <a class="dropdown-item" href="lat_v_wind.html">Lattitude v. Wind Speed</a>
                </div>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="comparison.html">Comparison</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="data.html">Data</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Analysis -->
      <h1 class="my-4 text-center">Comparison</h1> 
      <hr>  
        <p>Click any plot to get an in-depth analysis.</p>
      <div class="row">

        <div class="col-md-6">

            <h4 class="my-4 text-center">Lattitude v. Temperature</h4>  

            <a href="lat_v_temp.html">
                <img class="img-fluid" src="png_files/Temperature_v_Lattitude.png" alt="">
            </a>

        </div>

        <div class="col-md-6">

            <h4 class="my-4 text-center">Latitude v. Humidity</h4> 

            <a href="lat_v_hum.html">
                <img class="img-fluid" src="png_files/Humidity_v_Lattitude.png" alt="">
            </a>

        </div>

      </div>
      <!-- /.row -->

        <!-- Analysis -->
        <div class="row">

            <div class="col-md-6">

                <h4 class="my-4 text-center">Lattitude v. Cloudiness</h4>  

                <a href="lat_v_cloud.html">
                    <img class="img-fluid" src="png_files/Cloudiness_v_Lattitude.png" alt="">
                </a>

            </div>

            <div class="col-md-6">

                <h4 class="my-4 text-center">Lattitude v. Wind Speed</h4>

                <a href="lat_v_wind.html">
                    <img class="img-fluid" src="png_files/Wind_Speed_v_Lattitude.png" alt="">
                </a>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <br>
    <br>

    <!-- Footer -->
    <footer class="py-4 bg-head-foot">
      <div class="container">
        <p class="m-0 text-center text-white">Brought to you by Stephen Tsoi-A-Sue</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

  </body>

</html>
